@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer utilities {
  .overlay {
    background-image: url('/noise.png');
    position: absolute;
    inset: 0;
    background-size: 128px;
    background-repeat: repeat;
    opacity: 0.3;
    mix-blend-mode: overlay;
  }
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 0 100% 70%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 70%;
    --input: 0 0% 70%;
    --ring: 0 100% 70%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 10%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 0 0% 10%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 0 100% 70%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 0 0% 70%;
    --input: 0 0% 70%;
    --ring: 0 100% 70%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* firefox */
::-moz-selection {
    color: hsl(var(--foreground));
    background: hsl(var(--accent));
}

::selection {
    color: hsl(var(--foreground));
    background: hsl(var(--accent));
}
